.input-validation-error {
  margin-top: 10px;
  border: 1px solid #ff0000;
  background-color: #ffeeee;
  padding: 2px 7px;
  border-radius: 10px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.field-group {
  position: relative;
}

.demandDateValue {
  position: absolute;
  top: 25%;
}

.demandDateValue span {
  color: #000;
  font-weight: 500;
  font-size: 0.9rem;
  display: inline-block;
}

.demandDateValue .l-icon {
  max-width: 1rem;
}

.card-header-search {
  margin-bottom: 1rem;
}

.searchInputIcon {
  display: block;
  padding: 0 0.75rem;
  margin: 0 0.5rem;
  margin-left: 90%;
}

.btnFileDelete {
  color: #901235;
  border: 0;
  background-color: transparent;
  font-weight: 500;
}

.view-attachment {
  background: #f6f1ee;
  padding: 10px 0px;
  margin: 5px 0;
}

.paging-block {
  margin: 2rem 0 0 0;
}

.paging-block .page-link {
  border: 0;
  color: #6B4F44;
}

.paging-block .page-link:hover, .paging-block .page-item.active .page-link {
  color: #FFF;
  background-color: #6B4F44;
  border-radius: 0.25rem;
}

.paging-block .page-item.active .page-link {
  background-color: #d8d8d8;
  cursor: default;
}

.noResult {
  padding: 1rem;
  text-align: center;
  background: #f6f1ee;
  margin: 1rem;
  color: #6b4f44;
}

.noResult span {
  width: 100%;
}

/*
 * File
 */

/* Focus */

.file input:focus~.file-custom {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}

.highcharts-drillup-button {
  display: contents;
}

.mapInfoBox {
  background-color: #6B4F44;
  padding: 12px;
  border-radius: 15px;
  border: .075rem solid #ddd;
  color: #fff;
  text-align: center;
  opacity: 0.75;
}

.request-detail-control {
  display: block;
  border-radius: 1.5rem;
  border: 1px solid rgba(205, 194, 188, 0.5);
  color: rgba(107, 79, 68, 0.8);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-clip: padding-box;
}

.admin-top-link {
  width: auto !important;
  padding: 0px 10px;
  border: 0 !important;
  font-weight: 500;
}

[dir="ltr"] input[type="email"] {
  text-align: start!important;
}

[dir="rtl"] input[type="email"] {
  text-align: end!important;
  direction: ltr;
}